.idea
*.pyc
.coverage
venv
.venv
test.db
.env
.vscode

**/.terraform
**/*.lock.hcl
**/terraform.auto.tfvars

__pycache__
.pytest_cache
coverage.xml

app/dev_volumes/azurite/**
!app/dev_volumes/azurite/.gitkeep
app/dev_volumes/db/**
!app/dev_volumes/db/.gitkeep

alembic_*.ini
**/.mypy_cache

.DS_store
