.idea
*.pyc
.coverage
venv
test.db
.env
.vscode

**/.terraform
**/*.lock.hcl
**/terraform.auto.tfvars

__pycache__
.pytest_cache
coverage.xml

app/db_volume/**
!app/db_volume/.gitkeep

alembic_*.ini
**/.mypy_cache
