version: "3.5"
services:
  fastapi:
    image: ${WEB_CONTAINER_NAME}
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - ${WEB_PORT}:${WEB_PORT}
    environment:
      DATABASE_URL: postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_CONTAINER_NAME}:${DB_PORT}/${DB_NAME}
      ENVIRONMENT: DEVELOPMENT
      PORT: ${WEB_PORT}
    depends_on:
      - database
    volumes:
      - ./:/app

  database:
    container_name: ${DB_CONTAINER_NAME}
    image: postgres:latest
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      PGDATA: /app/db_volume/data
    ports:
      - ${DB_PORT}:${DB_PORT}
    volumes:
      - type: bind
        source: ./app/db_volume
        target: /app/db_volume
