name: Pull Request pipeline

on:
  pull_request:
    branches:
      - dev
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      CONTAINER_NAME: "petfriend-services-service-api-1"

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Create env file
        run: |
          cp .env.example .env

      - name: Docker starts successfully
        run: docker-compose up --build -d

      - name: Run linters
        run: docker exec $CONTAINER_NAME sh scripts/linters.sh

      - name: Run tests
        run: docker exec $CONTAINER_NAME sh scripts/tests.sh

      - name: Check migrations
        run: docker exec $CONTAINER_NAME sh scripts/make_migrations.sh

      - name: Stop Docker Compose
        run: docker-compose down -v
